<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <% if (submitted == false) { %>
        <h1><%= quiz_name %></h1>
        <form action="/form-submit/<%= form_id %>/<%= stud_id %>" method="POST">
            <% for (let i=0;i<questions.length;i++) { %>
                <p><%= questions[i] %> - <%= marks[i] %> points</p>
                <% if(text_box[i] != 1) { %>
                    <% for (let j=0;j<options[i].length;j++) { %>
                        <input type="radio" name="<%= question_ids[i] %>" value="<%= (j+1) %>">
                        <label for="Option 1"><%= options[i][j] %></label><br>
                    <% } %>
                <% } else { %>
                    <textarea name="<%= question_ids[i] %>" ></textarea><br>
                <% } %>
            <% } %>
            <input type="submit" value="Submit">
        </form>
    <% } else { %>
        <h1>Already submitted</h1>
        <% if (flag_marks == false) { %>
            <p>Responses not posted yet.</p>
        <% } else { %>
            <% let sum = 0; %>
            <% for (let i=0;i<questions.length;i++) { %>
                <p>Question: <%= i+1 %>: <%= questions[i] %></p>
                <% if (options[i].length > 0) { %>
                    <% for (let j=0;j<options[i].length;j++) { %>
                        <% if (j+1 == answers[i]) {%>
                            <% if (j+1 == responses[i]) { %>
                                <p style="color: green;"><%= options[i][j] %>- (Answer/Selected)</p>
                            <% } else { %>
                                <p style="color: red;"><%= options[i][j] %>- (Answer)</p>
                            <% } %>
                        <% } else {%>
                            <% if (j+1 == responses[i]) { %>
                                <p style="color: blue;"><%= options[i][j] %>- (Selected)</p>
                            <% } else {%>
                                <p><%= options[i][j] %></p>
                            <% } %>
                        <% } %>
                    <% } %>
                <% } else {%>
                    <% if (answers[i].toLowerCase() == responses[i].toLowerCase()) { %>
                        <p style="color: green;"><%= answers[i] %> - Answer/Your Answer</p>
                    <% } else {%>
                        <p style="color: red;"><%= answers[i] %>- Answer</p>
                        <p style="color: blue;"><%= responses[i] %></p>
                    <% } %>
                <% } %>
                <p style="color: blueviolet;">Marks Awarded- <%= marks[i] %></p>
                <% sum = sum + marks[i] %>
            <% } %>
            <p style="color: blueviolet;">Total Marks: <%= sum %></p>
        <% } %>
    <% } %>
</body>
</html>