<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1><%= quiz_name %></h1>
    <form action="/form-submit/<%= form_id %>/<%= stud_id %>" method="POST">
        <% for (let i=0;i<questions.length;i++) { %>
            <p><%= questions[i] %> - <%= marks[i] %> points</p>
            <% for (let j=0;j<options[i].length;j++) { %>
                <input type="radio" name="<%= question_ids[i] %>" value="<%= (j+1) %>">
                <label for="Option 1"><%= options[i][j] %></label><br>
            <% } %>
        <% } %>
        <input type="submit" value="Submit">
    </form>
</body>
</html>