<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
</head>
<body>
    <h1><%= question_data.question_text %> - <%= question_data.marks %></h1>
    <% for (let i=0;i<option_data.length;i++) { %>
        <% if (option_data[i].option_number == question_data.correct_option) { %>
            <p style="color: red;"><%= option_data[i].option_number %>: <%= option_data[i].option_text %></p>
        <% } else { %>
            <p><%= option_data[i].option_number %>: <%= option_data[i].option_text %></p>
        <% } %>
    <% } %>
    <a href="/add_option/<%= question_id %>">Add option</a>
    <form action="/correct/<%= question_id %>" method="POST">
        <input type="number" name="correct_option" placeholder="Correct Option">
        <input type="submit" value="Set correct option">
    </form>
</body>
</html>