<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/Question.css" rel="stylesheet">
</head>
<body>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/main/<%= owner %>">Home</a>
        </li>
    </ul>
    <% if (question_data.length > 0) { %>
        <% for (let i=0;i<question_data.length;i++) { %>
            <a href="/question/<%= question_data[i].id %>" class="question_link">
                <div class="question">
                    <p><%= question_data[i].question_text %></p>
                    <% for (let j=0;j<options[i].length;j++) { %>
                        <% if (options[i][j].option_number == question_data[i].correct_option) { %>
                            <p style="color: red;"><%= options[i][j].option_number %> : <%= options[i][j].option_text %></p>
                        <% } else {%>
                            <p><%= options[i][j].option_number %> : <%= options[i][j].option_text %></p>
                        <% } %>
                    <% } %>
                    <p style="color: red;"><%= question_data[i].correct_answer %></p>
                </div>
            </a>
        <% } %>
        <a href="/new-question/<%= quiz_id %>" class="add_question">Add question</a>
    <% } else { %>
        <p class="no_question">No questions found</p>
        <a href="/new-question/<%= quiz_id %>" class="add_question">Add question</a>
    <% } %>
    <% if (status == 1) { %>
        <a href="/status-update/<%= quiz_id %>" class="responses">Start taking responses</a>
    <% } else {%>
        <a href="/status-update/<%= quiz_id %>" class="responses">Stop taking responses</a>
    <% } %>
    <h2>Responses</h2>
    <form action="/marks-submit/<%= quiz_id %>" method="post">
    <% for (let i=0;i<responses.length;i++) { %>
        <% let user_id = null; %>
        <% let questions = []; %>
        <% let  answers = [];%>
        <% for (let j in responses[i]) { %>
            <% user_id = j; %>
            <% questions = responses[i][j]['questions'] %>
            <% answers = responses[i][j]['answer'] %>
        <% } %>
        <% let user = null; %>
        <% for (let j=0;j<login_details.length;j++) { %>
            <% if (user_id == login_details[j].id) { %>
                <% user = login_details[i].username %>
            <% } %>
        <% } %>
        <h3>Username: <%= user %></h3>
        <% for (let j=0;j<question_data.length;j++) { %>
            <div class="response">
            <% let flag = false; %>
            <% let flag2 = false; %>
            <% for (let k=0;k<questions.length;k++) { %>
                <% if(questions[k] == question_data[j].id) {%>
                    <p><% flag = true; %></p>
                    <p><%= question_data[j].question_text %></p>
                    <% console.log(question_data[j].input_type) %>
                    <% if (question_data[j].input_type == null) { %>
                        <% for (let a=0;a<options[j].length;a++) { %>
                            <% if (options[j][a].option_number == question_data[j].correct_option) {%>
                                <% if (options[j][a].option_number == answers[k]) { %>
                                    <p style="color: green;"><%= options[j][a].option_number %>: <%= options[j][a].option_text %> (Selected option/correct answer)</p>
                                    <%= flag2 = true; %>
                                <% } else { %>
                                    <p style="color: red;"><%= options[j][a].option_number %>: <%= options[j][a].option_text %> (correct answer)</p>
                                <% } %>
                            <% } else {%>
                                <% if (options[j][a].option_number == answers[k]) { %>
                                    <p style="color: blue;"><%= options[j][a].option_number %>: <%= options[j][a].option_text %> (selected answer)</p>
                                <% } else { %>
                                    <p><%= options[j][a].option_number %>: <%= options[j][a].option_text %></p>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <% if (question_data[j].correct_answer != null) {%>
                            <p style="color: red;"><%= question_data[j].correct_answer %></p>
                            <p style="color: blue;"><%= answers[k] %></p>
                            <% if (question_data[j].correct_answer.toLowerCase() == answers[k].toLowerCase()) { %>
                                <% console.log(true); %>
                                <% flag2 = true; %>
                            <% } %>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
            <% if (flag == false) { %>
                <p><%= question_data[j].question_text %></p>
                <p>No response</p>
            <% } %>
            <label for="marks" >Awarded marks</label>
            <% if (marks_data[question_data[j].id+':'+user_id] != undefined) { %>
                <input type="number"  max="<%= question_data[j].marks %>" name="<%= question_data[j].id %>:<%= user_id %>" value="<%= marks_data[question_data[j].id+':'+user_id] %>">
            <% } else {%>
                <% if (flag2 == false) { %>
                    <input type="number"  max="<%= question_data[j].marks %>" name="<%= question_data[j].id %>:<%= user_id %>" value="<%= question_data[j].min_marks %>">
                <% } else {%>
                    <input type="number"  max="<%= question_data[j].marks %>" name="<%= question_data[j].id %>:<%= user_id %>" value="<%= question_data[j].marks %>">
                <% } %>
            <% } %>
            </div>
        <% } %>
    <% } %>
    <input type="submit" value="Post marks">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>